body{
    color: red;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#header{
    width: 200px;
    height: 40px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}
#fullpageMenu{
    position: absolute;
    right: 200px;
    top: 20px;
    z-index: 999;
    background-color: red;
    color: #fff;
    padding: 20px 20px 20px 20px;
}

#fullpageMenu li{
    float: left;
    padding: 0 20px 0 20px;
}
.section1{
    position: relative;
    /*background-color: red;*/
}
.section1 .img-box{
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border: 1px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../images/section1.jpg") no-repeat;
    background-size: cover;
}
.section1 .txt-box{
    position: absolute;
    margin:auto;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 200px;
    /*background-color: #333333;*/
    text-align: center;
}

.page1{}
.page2{}
.page3{}
.page4{}
.page5{}